@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.glassCard{
  background:  rgba(225,225,225,0.18);
  box-shadow:  0 8px 32px 0 rgba(31,38,135,0.37);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 10px;
  border: 1px solid rgba(225,225,225,0.18);
}

/* Tùy chỉnh thanh cuộn ngang cho toàn bộ trang */
::-webkit-scrollbar {
  height: 8px; /* Độ dày của thanh cuộn */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Màu nền của thanh cuộn */
}

::-webkit-scrollbar-thumb {
  background: #888; /* Màu của thanh cuộn */
  border-radius: 10px; /* Bo góc của thanh cuộn */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Màu của thanh cuộn khi di chuột */
}

